*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
    height: auto;
}

section {
    width: 40vw;
    margin: 0 auto;
    min-width: 300px;
    min-height: 350px;
}

.card {
    background-color: rgb(255, 255, 255);
    margin: 2rem auto;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    border-radius: 0.5rem;
}

.media {
    border-radius: 0.5rem 0.5rem 0 0;
    background: #666666;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.media img {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.media:before {
    display: block;
    content: '';
    padding-top: 56.25%;
}

button {
    background-color: rgb(0, 153, 0);
    color: #fff;
    padding: 0.5rem 0.8rem;
    border-radius: 0.3rem;
    border: none;
    margin: 0vh 2vw 5vh 30vw;
    ;
}

h1 {
    font: 1em/1.2 Georgia serif;
    margin: 1.5rem 2rem 1rem 2rem;
    font-weight: bold;
}

.info {
    position: relative;
}

.info .info-text {
    font: 1em/1.2 Georgia, serif;
    margin: 0rem 3rem 0rem 2rem;
    height: 20vh;
}