@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron mt-3 eventures-bg-colour text-center">
    <h1>Welcome, @User.Identity.Name!</h1>
    <hr class="hr-2 hr-gray" />
    <h3 class="gray-text">Eventures whishes you an exciting experience.</h3>
</div>