@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron mt-3 eventures-bg-colour">
    <h1>Eventures - The best ticket service in the world.</h1>
    <hr class="eventures-bg-colour hr-2" />
    <h3><a class="nav-link-blue" asp-controller="Users" asp-action="Login">Login</a> to start "eventing".</h3>
    <h3><a class="nav-link-blue" asp-controller="Users" asp-action="Register">Register</a> if you don't have an account.</h3>
</div>
