@model DoRegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="container-fluid">
    <h1 class="text text-center">@ViewData["Title"]</h1>
    <div class="d-flex justify-content-center align-items-center container">
        <form class="text-center" asp-controller="Users" asp-action="Register" method="post">
            <div asp-validation-summary="All" class="text-danger text-left"></div>
            <hr class="hr-login">
            <div class="form-row">
                <div class="col col-md-5 mr-4 ml-4">
                    <label asp-for="Username">Username</label>
                    <input asp-for="Username" class="form-control" placeholder="Username..." required>
                </div>
                <div class="col col-md-5 ml-4 mr-2">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" class="form-control" placeholder="Email..." required>
                </div>
            </div>
            <div class="form-row mt-3">
                <div class="col col-md-5 mr-4 ml-4">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" class="form-control" type="password" placeholder="Password..." required>
                </div>
                <div class="col col-md-5 ml-4 mr-2">
                    <label for="confirmPassword">Confirm Password</label>
                    <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="Confirm Password..." required>
                </div>
            </div>
            <hr class="hr-login">
            <div class="form-row">
                <div class="col col-md-5 mr-4 ml-4">
                    <label asp-for="FirstName">First Name</label>
                    <input asp-for="FirstName" class="form-control" placeholder="First Name..." required>
                </div>
                <div class="col col-md-5 ml-4 mr-2">
                    <label asp-for="LastName">Last Name</label>
                    <input asp-for="LastName" class="form-control" placeholder="Last Name..." required>
                </div>
            </div>
            <div class="form-row">
                <div class="text text-center col-md-12 px-4 ml-1">
                    <label asp-for="Ucn">UCN</label>
                    <input asp-for="Ucn" class="form-control" placeholder="UCN..." required>
                </div>
            </div>
            <hr class="hr-login">
            <div class="text text-center">
                <button type="submit" class="btn eventures-bg-colour">Register</button>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}