@model CreateEventViewModel
@{
    ViewData["Title"] = "Create Event";
}

<div class="container-fluid">
    <h1 class="text text-center">@ViewData["Title"]</h1>
    <div class="d-flex justify-content-center">
        <form class="text-center flex" asp-controller="Events" asp-action="Create" method="post">
            <div asp-validation-summary="All" class="text-danger text-left"></div>
            <hr class="hr-login">
            <div class="form-row">
                <div class="col col-md-5 mr-4 ml-4">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Event name..." required>
                </div>
                <div class="col col-md-5 ml-4 mr-2">
                    <label asp-for="Place">Place</label>
                    <input asp-for="Place" class="form-control" placeholder="Place..." required>
                </div>
            </div>
            <hr class="hr-login">
            <div class="form-row">
                <div class="col col-md-5 mr-4 ml-4">
                    <label asp-for="Start">Start</label>
                    <input asp-for="Start" class="form-control" type="datetime-local" required>
                </div>
                <div class="col col-md-5 ml-4 mr-2">
                    <label asp-for="End">End</label>
                    <input asp-for="End" class="form-control" type="datetime-local" required>
                </div>
            </div>
            <hr class="hr-login">
            <div class="form-row">
                <div class="col col-md-5 mr-4 ml-4">
                    <label asp-for="TotalTickets">Total Tickets</label>
                    <input asp-for="TotalTickets" class="form-control" type="number" required>
                </div>
                <div class="col col-md-5 ml-4 mr-2">
                    <label asp-for="PricePerTicket">Price Per Ticket</label>
                    <input asp-for="PricePerTicket" class="form-control" type="text" required>
                </div>
            </div>
            <hr class="hr-login">
            <div class="text text-center">
                <button type="submit" class="btn eventures-bg-colour">Create Event</button>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}